.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1f1f1f;
  padding-bottom: 30px;
}

.title {
  margin-top: 30px;
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 30px;
}

.skillImg {
  margin-bottom: 30px;
}

.skillList {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 15px 0 20px;
}

.skillItem {
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
  padding: 5px 10px 5px 10px;
  border-width: 1px;
  border-color: rgb(238, 186, 14);
  border-style: solid;
  border-radius: 10px;
  color: #eeba0e;
}

