.about {
    margin: 0 auto;
  width: 220px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info {
  width: 46px;
  height: 45px;
  margin-bottom: 20px;
}

.title {
  /* font-family: "Montserrat", sans-serif; */
  font-weight: bold;
  font-size: 18px;
  color: #1f1f1f;
  margin-bottom: 30px;
}

.intro {
    opacity: 0.7;
  font-size: 14px;
  color: #1f1f1f;
  margin-bottom: 15px;
}

.desc {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 30px;
}
