.header {
  min-height: 434px;
  background-image: url(../../assets/images/headerBgMobile.png);
  /* background-clip: border-box; */
  background-size: 100% 434px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.logo {
  color: #ffffff;
  font-size: 16px;
  padding-top: 25px;
  margin-bottom: 30px;
  font-weight: bold;
}

.text {
  align-self: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  color: #ffffff;
}

.hello {
  opacity: 0.7;
  font-size: 24px;
  margin-bottom: 5px;
}

.name {
  font-size: 24px;
  margin-bottom: 15px;
}

.prof {
  text-transform: initial;
  opacity: 0.7;
  font-size: 14px;
  margin-bottom: 20px;
}

.contactBtn {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 12px;
  background-color: transparent;
  border-width: 1px;
  border-color: rgb(238, 186, 14);
  color: rgb(238, 186, 14);
  border-style: solid;
  border-radius: 10px;
  width: 110px;
  height: 30px;
  margin-bottom: 20px;
  outline: none;
}

.profImg {
  width: 150px;
  height: 150px;
  align-self: center;
}
