.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../assets/images/contactsbg.png);
  background-repeat: no-repeat;
  min-height: 340px;
  background-clip: border-box;
  background-size: 100% 340px;
}

.title {
  margin-top: 30px;
  font-weight: bold;
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 30px;
}

.span {
  display: flex;
  align-self: center;
  margin-bottom: 15px;
}

.icon {
    margin-right: 10px;
}

.iconMob {
    margin-right: 10px;
    margin-left: 5px;
}

.link {
  color: #eeba0e;
}
